@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

.app {
  font: normal normal 400 1rem/1 'Roboto', sans-serif;
}

:root {
  --card-md-width: 15rem;

  --color-dark: #000000de;
  --color-gray: #9fa9b9;
  --color-gray-lighter: #e6eaf0;

  --color-red: #f44336;
  --color-green: #69f0ae;
}
