.confirm-email-page {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirm-email-page__loading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.confirm-email-page__link {
  margin-top: 2.5rem;
}

.confirm-email-page__loading-text {
  font-size: 1.5rem;
  color: var(--color-gray, #9fa9b9);
  margin-top: 2rem;
  display: inline-block;
}

.confirm-email-page__text {
  display: flex;
  align-items: center;
}

.confirm-email-page__icon {
  padding-right: 1rem;
}
