<main class="confirm-email-page">
  <div *ngIf="loading" class="confirm-email-page__loading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <span class="confirm-email-page__loading-text">Processing...</span>
  </div>
  <div *ngIf="error" class="confirm-email-page__error">
    <span class="confirm-email-page__text">
      <fa-icon
        [icon]="faTimes"
        size="2x"
        class="confirm-email-page__icon icon--error"
      ></fa-icon>
      {{ error }}
    </span>
  </div>
  <div *ngIf="successText" class="confirm-email-page__success">
    <span class="confirm-email-page__text">
      <fa-icon
        [icon]="faThumbUp"
        size="2x"
        class="confirm-email-page__icon icon--success"
      ></fa-icon
      >{{ successText }}
    </span>
  </div>
  <a
    *ngIf="!loading"
    [routerLink]="loginLink"
    mat-button
    color="accent"
    class="confirm-email-page__link"
    >Go too login page</a
  >
</main>
