<form class="auth-form" [formGroup]="signInForm">
  <mat-card-content>
    <mat-form-field class="input-field">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        class="input"
        [errorStateMatcher]="inputErrorMatcher"
      />
      <mat-error
        *ngIf="
          signInForm.controls['email'].hasError('email') &&
          !signInForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signInForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input
        matInput
        placeholder="Password"
        type="password"
        class="input"
        formControlName="password"
        [errorStateMatcher]="inputErrorMatcher"
      />
      <mat-error
        *ngIf="
          signInForm.controls['password'].hasError('minLength') &&
          !signInForm.controls['email'].hasError('required')
        "
      >
        Password should be longer then 8 symbols
      </mat-error>
      <mat-error *ngIf="signInForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <app-alert
      *ngIf="error"
      type="error"
      [title]="error.title"
      [text]="error.text"
      (closeAlert)="cleanError()"
    ></app-alert>
  </mat-card-content>
  <mat-card-footer class="auth-card__footer">
    <button
      mat-raised-button
      color="primary"
      [disabled]="signInForm.status === 'INVALID'"
      (click)="login()"
    >
      login
    </button>
  </mat-card-footer>
</form>
<app-loading-layer *ngIf="loading"></app-loading-layer>
