.text-empty {
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--color-gray, #9fa9b9);
  text-align: center;

}

.todo-list {
  position: relative;
}

.todo-list__content {
  min-height: 6rem;
}

.todo-list__list {
  padding-left: 0;
  padding-top: 1rem;
  list-style: none;
}

.todo-list__list:last-child {
  border-bottom: 1px solid var(--color-gray-lighter, #e6eaf0);
}

.todo-list__header .mat-card-header-text {
  margin-left: 0;
}

