<mat-card class="todo-list custom-card">
  <form mat-tab-nav-bar>
    <button
      class="todo-list__filter-button"
      *ngFor="let btn of filterButtons"
      mat-tab-link
      mat-button
      (click)="setFilter(btn.value)"
      [active]="filter === btn.value"
    >
      {{ btn.text }}
    </button>
  </form>
  <form action="">
    <mat-card-content class="todo-list__content">
      <div *ngIf="!todos.length && !loading" class="text-empty">
        You have any todo yet. <br />
        Create first todo to start.
      </div>
      <ul *ngIf="todos.length" class="todo-list__list">
        <app-todo
          *ngFor="let todo of todos | filterBySubject: 'done':filter"
          [todo]="todo"
        ></app-todo>
      </ul>
      <app-loading-layer *ngIf="!todos.length && loading"></app-loading-layer>
    </mat-card-content>
  </form>
</mat-card>
