<form class="auth-form" [formGroup]="signUpForm">
  <mat-card-content>
    <mat-form-field class="input-field">
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
        class="input"
        [errorStateMatcher]="inputErrorMatcher"
      />
      <mat-error
        *ngIf="
          signUpForm.controls['email'].hasError('email') &&
          !signUpForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        class="input"
        [errorStateMatcher]="inputErrorMatcher"
      />
      <mat-error
        *ngIf="
          signUpForm.controls['email'].hasError('email') &&
          !signUpForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        class="input"
        [errorStateMatcher]="inputErrorMatcher"
      />
      <mat-error
        *ngIf="
          signUpForm.controls['email'].hasError('email') &&
          !signUpForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input
        matInput
        placeholder="Password"
        type="password"
        class="input"
        formControlName="password"
        [errorStateMatcher]="inputErrorMatcher"
      />
      <mat-hint>Password should be at least 8 symbols</mat-hint>
      <mat-error
        *ngIf="
          signUpForm.controls['password'].hasError('minLength') &&
          !signUpForm.controls['email'].hasError('required')
        "
      >
        Password should be longer then 8 symbols
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer class="auth-card__footer">
    <button
      mat-raised-button
      color="primary"
      [disabled]="signUpForm.status === 'INVALID'"
      (click)="onFormSubmit()"
    >
      Sign Up
    </button>
  </mat-card-footer>
</form>
<app-loading-layer *ngIf="loading"></app-loading-layer>
