<main class="registration-success-page">
  <fa-icon
    [icon]="faPaperPlane"
    size="10x"
    class="registration-success-page__icon"
  ></fa-icon>
  <h1 class="registration-success-page__title">
    We send confirmation link to Your email
  </h1>
  <h2 class="registration-success-page__subtitle">
    Please, check your email and follow to instructions
  </h2>

  <a
    [routerLink]="loginLink"
    mat-button
    color="accent"
    class="registration-success-page__link"
    >Go too login page</a
  >
</main>
