.registration-success-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-success-page__icon {
  margin-bottom: 5rem;
  color: #673ab750;
}

.registration-success-page__title {
  font-size: 1.5rem;
  color: var(--color-dark, #000000de);
}

.registration-success-page__subtitle {
  font-size: 1rem;
  color: var(--color-dark, #000000de);
}

.registration-success-page__link {
  margin-top: 2rem;
}
