.todo-page-title {
  margin-right: auto;
}

:host {
  --card-md-width: var(--card-md-width);
}

.todo-page-content {
  display: flex;
  align-content: center;
  margin: 0  auto;
  padding: 2rem var(--p);
  flex-direction: column;
  max-width: 100%;
  width: 36rem;
  box-sizing: border-box;
}
