<main>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="todo-page-title">Ng Todo</span>
      <button
        mat-icon-button
        aria-label="logout"
        aria-hidden="false"
        (click)="logout()"
      >
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="todo-page-content">
    <app-create-todo></app-create-todo>
    <app-todo-list></app-todo-list>
  </div>
</main>
