.alert {
  --success-color: #4caf50;
  --success-bg-color: #ddffdd;
  --error-color: #f44336;
  --error-bg-color: #f4433615;

  display: flex;
  padding: 1rem 1.5rem;
  position: relative;
  border: 1px solid transparent;
}

.alert.alert__success {
  background-color: var(--success-bg-color);
  border-color: var(--success-color);
}

.alert.alert__error {
  background-color: var(--error-bg-color);
  border-color: var(--error-color);
}

.alert__type {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translate(-50%, -50%);
  padding: 0.25rem;
}

.alert.alert__error .alert__type {
  color: var(--error-color);
}

.alert.alert__success .alert__type {
  color: var(--success-color);
}

.alert__type-icon {
}

.alert__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.alert__text {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0;
}

.alert__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: translate(50%, -50%);
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.alert__close-icon {
}
