<div class="alert alert__{{ type }}">
  <span class="alert__type">
    <fa-icon [icon]="alertTypeIcon" class="alert__type-icon"></fa-icon>
  </span>
  <h3 *ngIf="title" class="alert__title">{{ title }}</h3>
  <p class="alert__text">{{ text }}</p>
  <button (click)="onAlertClose()" class="alert__close">
    <fa-icon [icon]="faTimes" class="alert__close-icon"></fa-icon>
  </button>
</div>
