<li class="todo">
  <mat-checkbox
    class="example-margin"
    (change)="changeDone($event.checked)"
    [checked]="todo.done"
  ></mat-checkbox>
  <span class="todo-content">
    <span class="todo-content__title">{{ todo.title || '' }}</span>
    <span class="todo-content__text">{{ todo.text }}</span>
  </span>
  <span class="todo-content__controls">
    <button mat-icon-button (click)="openUpdateDialog()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button mat-icon-button (click)="deleteTodo()">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </span>
  <app-loading-layer *ngIf="loading" diameter="24"></app-loading-layer>
</li>
