.todo {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray-lighter, #e6eaf0);
  border-bottom: none;
  display: flex;
  align-items: center;
  position: relative;
}

.todo-content {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  word-break: keep-all;
  white-space: pre;
}
.todo-content__title {
  position: absolute;
  top: -0.25rem;
  left: 0.5rem;
  font-size: 0.75rem;
  color: var(--color-gray, #9fa9b9);
}

.todo-content__text {
  color: var(--color-dark, #000000de);
}

.todo-content__controls {
  margin-left: auto;
}

