<div class="update-todo">
  <form [formGroup]="updateTodoForm">
    <app-todo-form-fields
      [form]="updateTodoForm"
      [inputErrorMatcher]="inputErrorMatcher"
    ></app-todo-form-fields>
    <div class="update-todo__controls">
      <button mat-raised-button (click)="closeModal()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="updateTodoForm.invalid || !updateTodoForm.touched"
        (click)="updateTodo()"
      >
        Update
      </button>
    </div>
  </form>
  <app-loading-layer *ngIf="loading"></app-loading-layer>
</div>
