.auth-page {
  padding: 5rem var(--p) 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: var(--screen-lg)){
  .auth-page {
    padding-top: 10rem;
  }
}

.auth-card {
  max-width: 25rem;
  width: 25rem;
}

.mat-card-header-text {
  margin: 0;
}

.auth-card__nav-link {
  width: 100%;
}
