<main class="auth-page">
  <mat-card class="auth-card custom-card">
    <nav mat-tab-nav-bar>
      <a
        class="auth-card__nav-link"
        [routerLink]="signInLink"
        mat-tab-link
        routerLinkActive
        #signInActive="routerLinkActive"
        [active]="signInActive.isActive"
        >Login</a
      >
      <a
        class="auth-card__nav-link"
        [routerLink]="signUpLink"
        mat-tab-link
        routerLinkActive
        #signUpActive="routerLinkActive"
        [active]="signUpActive.isActive"
        >Registration</a
      >
    </nav>
    <router-outlet></router-outlet>
  </mat-card>
</main>
