<mat-card class="create-todo custom-card">
  <mat-card-header>
    Create Todo
  </mat-card-header>
  <form [formGroup]="createTodoForm">
    <mat-card-content>
      <app-todo-form-fields
        [form]="createTodoForm"
        [inputErrorMatcher]="inputErrorMatcher"
      ></app-todo-form-fields>
    </mat-card-content>
    <mat-card-footer class="create-todo__footer">
      <button
        mat-raised-button
        color="primary"
        [disabled]="createTodoForm.invalid"
        (click)="createTodo()"
      >
        Create
      </button>
    </mat-card-footer>
  </form>
</mat-card>
