/* You can add global styles to this file, and also import other style files */

:root {
  --screen-md: 480px;
  --screen-lg: 1024px;
  --p-sm: 0.5rem;
  --p: 1rem;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  width: 100%;
}
