<mat-form-field class="input-field input-field__sm" [formGroup]="form">
  <input
    matInput
    placeholder="Title"
    type="text"
    formControlName="title"
    [errorStateMatcher]="inputErrorMatcher"
  />
  <mat-hint>Optional</mat-hint>
</mat-form-field>
<mat-form-field class="input-field" [formGroup]="form">
  <textarea
    matInput
    placeholder="Description"
    [errorStateMatcher]="inputErrorMatcher"
    formControlName="text"
  ></textarea>
  <mat-error
    *ngIf="
      form.controls['text'].hasError('required') &&
      form.controls['text'].touched
    "
  >
    Description Shouldn't be empty
  </mat-error>
</mat-form-field>
